<nav class="navbar">
    <div class="logo">Richard's Portfolio</div>

    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/certificates">Certificates</a></li>
        <li><a href="/#about">My Story</a></li>

        <li class="nav-btn-mobile-fix">
            <a href="/#foot">Contact Me</a>
        </li>
        <li class="nav-btn-mobile-fix">
            <a href="/login" class="admin-login-btn">Admin Login</a>
        </li>
    </ul>
</nav>